<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vote.mapper.VoteMapper">

    <resultMap type="Vote" id="VoteResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="optionNum"    column="option_num"    />
        <result property="isCustomOption"    column="is_custom_option"    />
        <result property="isRegistered"    column="is_registered"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectVoteVo" >
        select id, title, option_num, is_custom_option, is_registered, start_time, end_time, del_flag, create_by, create_time, update_by, update_time from vote
    </sql>

    <select id="selectVoteList" parameterType="Vote" resultMap="VoteResult">
        <include refid="selectVoteVo"/>
        <where>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="optionNum != null "> and option_num = #{optionNum}</if>
            <if test="isCustomOption != null "> and is_custom_option = #{isCustomOption}</if>
            <if test="isRegistered != null "> and is_registered = #{isRegistered}</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
        </where>
    </select>

    <select id="selectVoteById" parameterType="Long" resultMap="VoteResult">
        <include refid="selectVoteVo"/>
        where id = #{id}
    </select>

    <insert id="insertVote" parameterType="Vote" useGeneratedKeys="true" keyProperty="id">
        insert into vote
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="optionNum != null">option_num,</if>
            <if test="isCustomOption != null">is_custom_option,</if>
            <if test="isRegistered != null">is_registered,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="optionNum != null">#{optionNum},</if>
            <if test="isCustomOption != null">#{isCustomOption},</if>
            <if test="isRegistered != null">#{isRegistered},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateVote" parameterType="Vote">
        update vote
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="optionNum != null">option_num = #{optionNum},</if>
            <if test="isCustomOption != null">is_custom_option = #{isCustomOption},</if>
            <if test="isRegistered != null">is_registered = #{isRegistered},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteVoteById" parameterType="Long">
        delete from vote where id = #{id}
    </delete>

    <delete id="deleteVoteByIds" parameterType="String">
        delete from vote where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 根据标题查数量 -->
    <select id="selectCountByTitle" resultType="java.lang.Integer">
        select
            count(*)
        from
            vote
        where
            del_flag = '0'
            and title = #{title}
    </select>

    <!-- 根据标题且不等一id查数量 -->
    <select id="selectCountByTitleWithId" resultType="java.lang.Integer">
        select
            count(*)
        from
            vote
        where
            del_flag = '0'
            and title = #{title}
            and id <![CDATA[ <> ]]> #{id}
    </select>

    <select id="getVoteTotal" resultType="java.lang.Integer">
        select count(*) from user_vote
    </select>
    <select id="getPersonTotal" resultType="java.lang.Integer">
        select count(*) from( select su.user_id from user_vote uv left JOIN sys_user su on uv.user_id=su.user_id GROUP BY su.user_id ) as t
    </select>
    <select id="getDataList" resultType="java.util.Map">
        select * from( select count(su.user_id) total,su.nick_name name  from user_vote uv left JOIN sys_user su on uv.user_id=su.user_id GROUP BY su.user_id limit 5 ) as t
    </select>

    <select id="selectVoteListByTime" resultType="com.vote.domain.Vote" resultMap="VoteResult">
        <include refid="selectVoteVo"/>
        <where>
            <if test="createTime != null  ">
                AND date_format(#{createTime},'%y%m%d') &gt;= date_format(start_time,'%y%m%d')
                AND date_format(#{createTime},'%y%m%d') &lt;= date_format(end_time,'%y%m%d')
            </if>
            <if test="title != null and title!='' "> and title like concat('%', #{title}, '%') </if>
        </where>
    </select>

</mapper>
