<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.modules.bsc.mapper.BscAttStoreDbMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.modules.bsc.model.BscAttStoreDb" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="STORE_DB_ID" property="storeDbId" jdbcType="VARCHAR" />
    <result column="DETAIL_ID" property="detailId" jdbcType="VARCHAR" />
    <result column="ATT_CONTENT" property="attContent" jdbcType="LONGVARBINARY" />
  </resultMap>
</mapper>