<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.modules.bsc.mapper.BscAttDirMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.modules.bsc.model.BscAttDir" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="DIR_ID" property="dirId" jdbcType="VARCHAR" />
    <result column="ORG_ID" property="orgId" jdbcType="VARCHAR" />
    <result column="IS_ROOT" property="isRoot" jdbcType="VARCHAR" />
    <result column="DIR_CODE" property="dirCode" jdbcType="VARCHAR" />
    <result column="DIR_NAME" property="dirName" jdbcType="VARCHAR" />
    <result column="PARENT_ID" property="parentId" jdbcType="VARCHAR" />
    <result column="DIR_SEQ" property="dirSeq" jdbcType="VARCHAR" />
    <result column="DIR_MEMO" property="dirMemo" jdbcType="VARCHAR" />
    <result column="DIR_LEVEL" property="dirLevel" jdbcType="VARCHAR" />
    <result column="CREATER" property="creater" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="MODIFIER" property="modifier" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="DIR_PRIVILEGE" property="dirPrivilege" jdbcType="VARCHAR" />
    <result column="DIR_NAME_SEQ" property="dirNameSeq" jdbcType="VARCHAR" />
    <result column="STORE_TYPE" property="storeType" jdbcType="VARCHAR" />
    <result column="STORE_URL" property="storeUrl" jdbcType="VARCHAR" />
  </resultMap>
</mapper>