<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.modules.bsc.mapper.BscAttLinkMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.modules.bsc.model.BscAttLink" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="LINK_ID" property="linkId" jdbcType="VARCHAR" />
    <result column="TABLE_NAME" property="tableName" jdbcType="VARCHAR" />
    <result column="PK_NAME" property="pkName" jdbcType="VARCHAR" />
    <result column="RECORD_ID" property="recordId" jdbcType="VARCHAR" />
    <result column="DETAIL_ID" property="detailId" jdbcType="VARCHAR" />
    <result column="DIR_ID" property="dirId" jdbcType="VARCHAR" />
    <result column="LINK_TYPE" property="linkType" jdbcType="CHAR" />
  </resultMap>
</mapper>