<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.modules.bsc.mapper.BscAttStoreConfigMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.modules.bsc.model.BscAttStoreConfig" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="STORE_CONFIG_ID" property="storeConfigId" jdbcType="VARCHAR" />
    <result column="ROOT_DIR_ID" property="rootDirId" jdbcType="VARCHAR" />
    <result column="STORE_KEY" property="storeKey" jdbcType="VARCHAR" />
    <result column="STORE_DESC" property="storeDesc" jdbcType="VARCHAR" />
    <result column="STORE_VALUE" property="storeValue" jdbcType="VARCHAR" />
    <result column="CREATER" property="creater" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="MODIFIER" property="modifier" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>